body{
    margin:0px;
    background:#E1E1E1;
}
#topBlock{
    background:#4A90E2;
    height:75px;
    text-align:center;
    margin-bottom:24px;
}
.bookMark{
    background: #4A90E2;    /*背景顏色*/
    color: #00408B;         /*字體顏色*/
    text-align: center;     /*置中*/
    font-size: 24px;        /*字體大小*/
    height: 75px;           /*按鈕高度*/
    width: 220px;           /*按鈕寬度*/
    border:none;            /*取消框線*/
}

.select_bookMark{
    color: #ffffff;
    height: 70px;                         /*改變高度因為要扣底線的粗5px不然會凸出來*/
    border-bottom:solid 5px #00408B;      /*設定下底線的樣式、粗細、顏色*/
}